


.page--home-alt .site-header__inner {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
    padding-top: 2rem;
}


.page--home-alt .header-email {
    right: auto;
    left: 0;
    padding-left: 0;
    padding-top: 0;
}


.page--home-alt .header-email__label {
    text-align: left;
}

.page--home-alt .contact-toggle {
    padding-left: 0;
}